<!-- app/templates/user/users.html -->

{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base_scripts.html" %}

{% block content2 %}
<div class="content-section">
  {{ utils.flashed_messages() }}
  <div class="center">
      <form method="post" action="{{ url_for('asset.assets') }}">
      <table class="table-condensed table-bordered">
          <tr>
              <th>Since</th>
              <th>Value</th>
              <th>Location</th>
              <th>Category </th>
              <th>Status</th>
          </tr>
          <tr>
              <td><input id="date_after" class="filter" name="date_after" type="text" size="12" value="{{ filter.date_after }}"></td>
              <td><input id="value_from" class="filter" name="value_from" type="text" size="12" value="{{ filter.value_from }}"></td>
              <td><input id="location" class="filter" name="location" type="text" size="12" value="{{ filter.location }}"></td>
              <td rowspan="2">{{ wtf.form_field(filter.category.category) }}</td>
              <td rowspan="2">{{ wtf.form_field(filter.status.status) }}</td>
          </tr>
          <tr>
              <td><input id="date_before" class="filter" name="date_before" type="text" size="12" value="{{ filter.date_before }}"></td>
              <td><input id="value_till" class="filter" name="value_till" type="text" size="12" value="{{ filter.value_till }}"></td>
          </tr>
      </table>
      <br>
      <div class="btn-group" role="group" aria-label="...">
            <input class="btn btn-default" id="submit" name="button" type="submit" value="Filter">
            <a class="btn btn-default" id="clear">Clear</a>
      </div>
      </form>
      <hr />
      <form method="post" action="{{ url_for('asset.add') }}" novalidate>
      <div class="btn-group" role="group" aria-label="...">
           <input class="btn btn-default" id="add" name="add" type="submit" value="Add Asset">
      </div>
      <hr />
      {{table}}
      </form>
  </div>
</div>
{% endblock %}
