<!-- app/templates/auth/user.html -->
<!-- this form is used for adding a user as well for editing a user, hence the if-clause -->

{% import "bootstrap/wtf.html" as wtf %}
{% extends "base_single_item.html" %}

{% block content3 %}
    {{ wtf.form_field(form.name) }}
    {{ wtf.form_field(form.quantity) }}
    {{ wtf.form_field(form.location) }}
    <input type="hidden" name="location-id" id="location-id">
    {{ wtf.form_field(form.qr_code) }}
    {{ wtf.form_field(form.status) }}
{% if role == 'edit' or role == 'add' %}
    {{ wtf.form_field(form.purchase) }}
{% endif %}
    {{ wtf.form_field(form.serial) }}
{% if role == 'view' %}
    {{ wtf.form_field(form.since) }}
    {{ wtf.form_field(form.value) }}
    {{ wtf.form_field(form.supplier) }}
    {{ wtf.form_field(form.category) }}

    {{ wtf.form_field(form.brand) }}
    {{ wtf.form_field(form.type) }}
    {{ wtf.form_field(form.power) }}
    {{ wtf.form_field(form.ce) }}

    <div class="form-group "><label class="control-label" for="risk_analysis">Risicoanalyse</label>
        <input class="form-control" id="risk_analysis" readonly="" type="text" value="{{ form.risk_analysis.data }}">
        <input type="button" onclick="download_file('risk_analysis')" value="Download" hidden>
    </div>

    <div class="form-group "><label class="control-label" for="manual">Handleiding</label>
        <input class="form-control" id="manual" readonly="" type="text" value="{{ form.manual.data }}">
        <input type="button" onclick="download_file('manual')" value="Download">
    </div>

    <div class="form-group "><label class="control-label" for="safety_information">VIK</label>
        <input class="form-control" id="safety_information"  readonly="" type="text" value="{{ form.safety_information.data }}">
        <input type="button" onclick="download_file('safety_information')" value="Download">
    </div>

    <div class="form-group "><label class="control-label" for="photo">Foto</label>
        <input class="form-control" id="photo" readonly="" type="text" value="{{ form.photo.data }}">
        <input type="button" onclick="download_file('photo')" value="Download">
    </div>

    {% if form.photo.data %}
        <img src="../../static/photo/{{ form.photo.data }}" height="377">
    {%  endif %}
    </br>
    </br>

{% endif %}
<div id="floating_menu" class="floating-menu"></div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        var location_select_list = {{ (location_select or []) | tojson }};
    </script>
    <script type="text/javascript"> {% include "asset/asset.js" %}</script>
{% endblock %}
