<!-- app/templates/auth/user.html -->
<!-- this form is used for adding a user as well for editing a user, hence the if-clause -->

{% import "bootstrap/wtf.html" as wtf %}
{% extends "base_single_item.html" %}

{% block content3 %}
    {{ wtf.form_field(form.username) }}
    {{ wtf.form_field(form.first_name) }}
    {{ wtf.form_field(form.last_name) }}
    {{ wtf.form_field(form.email) }}
    {{ wtf.form_field(form.is_admin) }}
{% if role == 'add' or role == 'edit' %}
    {{ wtf.form_field(form.password) }}
    {{ wtf.form_field(form.confirm_password) }}
{% endif %}
{% endblock %}