<!-- app/templates/user/users.html -->

{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}

{% block content2 %}
<div class="content-section">
  {{ utils.flashed_messages() }}
  <div class="center">
      <div class="btn-group" role="group" aria-label="...">
           <a class="btn btn-default" href="{{ url_for('user.add') }}" >Add user</a>
      </div>
      <hr />
      {{user_table}}
  </div>
</div>
{% endblock %}

{% block scripts2 %}
<script>
$(document).ready(function() {
    $('#{{table_id}}').DataTable();

    // When the length-changer or pager of the table is used, not all delete-buttons have the confirm-before-delete event
    // attached.  The event draw.dt makes sure that, after the table is redrawn (length change or repaged) that all rows
    // are bound to the confirm-before-delete event.
    $('#{{table_id}}').on('draw.dt', function() {
        $('.confirmBeforeDelete').unbind();
        $('.confirmBeforeDelete').click(function() {
            id = $(this).attr('u_id');
            bootbox.confirm("Are you sure want to delete this user?", function(result) {
                if (result) {
                    window.location = Flask.url_for('user.delete', {'id' : id})
                }
            });
        });
    });
} );
</script>
{% endblock %}
