<!-- app/templates/auth/login.html -->

{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}

{% block content2 %}
<div class="content-section">
  <br/>
  {{ utils.flashed_messages() }}
  <br/>
  <div class="center">
  {{user_table}}
  </div>
</div>
{% endblock %}

{% block scripts2 %}
<script>
$(document).ready(function() {
    $('#{{table_id}}').DataTable(
        {
            dom: 'Blfrtip',
            buttons: [
                {
                    text: 'Add user',
                    action: function ( e, dt, node, config ) {
                        window.location = "{{ url_for('user.add') }}"
                    }
                }
            ]
        }
    );
} );
</script>
{% endblock %}
