body {
  background: white;
  font-family: sans-serif;
  color: #5e5e5e;
}

#floating_menu {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  background: #fff;
  color: #555;
  font-family: sans-serif;
  font-size: 15px;
  -webkit-box-shadow: 2px 2px 2px 0px rgba(143, 144, 145, 1);
  -moz-box-shadow: 2px 2px 2px 0px rgba(143, 144, 145, 1);
  box-shadow: 2px 2px 2px 0px rgba(143, 144, 145, 1);
  padding: 0px;
  border: 1px solid #C6C6C6;
}

#floating_menu a {
  display: block;
  color: #555;
  text-decoration: none;
  padding: 2px 2px 2px 2px;
  width: 100px;
  position: relative;
}

#floating_menu a img,
#floating_menu a i.fa {
  height: 20px;
  font-size: 17px;
  width: 20px;
  position: absolute;
  left: 5px;
  top: 2px;
}

#floating_menu a span {
  color: #BCB1B3;
  float: right;
}

#floating_menu a:hover {
  color: #fff;
  background: #3879D9;
}

#floating_menu hr {
  border: 1px solid #EBEBEB;
  border-bottom: 0;
}