<!-- app/templates/supplier/suppliers.html -->

{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}

{% block content2 %}
<div class="content-section">
  {{ utils.flashed_messages() }}
  <div class="center">
      <div class="btn-group" role="group" aria-label="...">
           <a class="btn btn-default" href="{{ url_for('supplier.add') }}" >Add supplier</a>
      </div>
      <hr />
     {{supplier_table}}
  </div>
</div>
{% endblock %}

{% block scripts2 %}
<script>
$(document).ready(function() {
    $('#{{table_id}}').DataTable({
       dom: 'lBfrtip',
       buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
       ]
});

    $('.confirmBeforeDelete').click(function() {
        id = $(this).attr('u_id');
        bootbox.confirm("Are you sure want to delete this supplier?", function(result) {
        if (result) {
            window.location = Flask.url_for('supplier.delete', {'id' : id})
        }
    });
  });
} );
</script>
{% endblock %}
