<!-- app/templates/auth/user.html -->
<!-- this form is used for adding a user as well for editing a user, hence the if-clause -->

{% import "bootstrap/wtf.html" as wtf %}
{% extends "base_single_item.html" %}

{% block content3 %}
    {{ wtf.form_field(form.invoice) }}
    {{ wtf.form_field(form.since) }}
    {{ wtf.form_field(form.value) }}
    {{ wtf.form_field(form.supplier) }}
    {{ wtf.form_field(form.device) }}
    <div class="input-group">
        {{ wtf.form_field(form.commissioning) }}
        <div class="input-group-btn">
            <input class="btn btn-default" type="submit" name="commissioning_download" formaction="{{ url_for('asset.download') }}" value="Download">
            {% if role == "edit" %}
                <input class="btn btn-default" id="commissioning_upload" name="button" type="button" value="Upload">
            {% endif %}
        </div>
    </div>

    <input id='commissioning_fileid' type='file' name='commissioning_filename' style="display:none" hidden/>
{% endblock %}

{% block script3 %}
    $(document).ready(function() {
        init_up_download('commissioning', 'purchase');
    });
{% endblock %}