<!-- app/templates/auth/user.html -->
<!-- this form is used for adding a user as well for editing a user, hence the if-clause -->

{% import "bootstrap/wtf.html" as wtf %}
{% extends "base_single_item.html" %}

{% block content3 %}
    {{ wtf.form_field(form.since) }}
    {{ wtf.form_field(form.value) }}
    {{ wtf.form_field(form.supplier) }}
    {{ wtf.form_field(form.device) }}
    <div class="input-group">
        {{ wtf.form_field(form.commissioning) }}
            <div class="input-group-btn">
                <input class="btn btn-default" id="download" name="button" type="button" value="Download">
                {% if role == "edit" %}
                    <input class="btn btn-default" id="upload" name="button" type="button" value="Upload">
                {% endif %}
            </div>
    </div>
    <input id='fileid' type='file' name='filename' style="visibility : hidden" hidden/>
    <script>
        {% if role == "edit" %}
            document.getElementById('upload').addEventListener('click', openDialog);
        {% endif %}
        document.getElementById('download').addEventListener('click', download);

        //To download the file, jump to the download url with the filename as parameter
        function download() {
            var commissioning_file = document.getElementById('commissioning').value;
            window.location.href = Flask.url_for("purchase.download", {'file' : commissioning_file});
        }
        //The actual filedialog element is hidden because it does not blend in with the bootstrap css.
        //Pushing the bootstrap-upload button generates a click-event on the filedialog element
        var fd = document.getElementById('fileid');
        //Open the filedialog
        function openDialog() { fd.click(); }

        //Called when the filedialog closes
        fd.addEventListener('change',   function(e) {
            //console.log(fd.files[0].name);
            var commissioning = document.getElementById('commissioning');
             for(var i=0; i < commissioning.options.length; i++) {
                console.log(commissioning.options[i].value);
                if (commissioning.options[i].value == fd.files[0].name) {
                    console.log('File "' + fd.files[0].name + '" already exists, select another one');
                    toastr.error('File "' + fd.files[0].name + '" already exists, select another one');
                    fd.value="";
                    return;
                }
            }
            var option = document.createElement("option");
            option.text = fd.files[0].name;
            commissioning.add(option, 0);
            commissioning.selectedIndex = "0";
         });

    </script>
{% endblock %}

