<!-- app/templates/auth/user.html -->
<!-- this form is used for adding a user as well for editing a user, hence the if-clause -->

{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}

{% block content2 %}
<div class="content-section">
  <div class="center">
  <h1>{{ title }} a device</h1>
  <br/>
  <form action="" method="post" class="form" role="form">
        {{ form.csrf_token }}

        {{ wtf.form_field(form.category) }}
        {{ wtf.form_field(form.brand) }}
        {{ wtf.form_field(form.type) }}
        {{ wtf.form_field(form.power) }}
        {{ wtf.form_field(form.ce) }}
{% if title == "View" %}
      {% if current_user.is_authenticated %}
        <a class="btn btn-default" href="{{ url_for('device.edit', id=form.id.data) }}" >Edit</a>
      {% else %}
        <a class="btn btn-default" href="{{ url_for('auth.login', redirect_url=url_for('device.edit', id=form.id.data)) }}" >Edit</a>
      {% endif %}

{% else %}
    <input class="btn btn-default" id="submit" name="button" type="submit" value="Save">
    <a class="btn btn-default" href="{{ url_for('device.devices') }}" >Cancel</a>
{% endif %}
  </form>
  </div>
</div>
{% endblock %}