<!-- app/templates/auth/user.html -->
<!-- this form is used for adding a user as well for editing a user, hence the if-clause -->

{% import "bootstrap/wtf.html" as wtf %}
{% extends "base_single_item.html" %}

{% block content3 %}
    {{ wtf.form_field(form.category) }}
    {{ wtf.form_field(form.brand) }}
    {{ wtf.form_field(form.type) }}
    {{ wtf.form_field(form.power) }}
    {{ wtf.form_field(form.ce) }}
    {{ wtf.form_field(form.control_template) }}
    <div class="input-group">
        {{ wtf.form_field(form.risk_analysis) }}
        <div class="input-group-btn">
            <input class="btn btn-default" type="submit" name="risk_analysis_download" formaction="{{ url_for('asset.download') }}" value="Download">
            {% if role == "edit" %}
                <input class="btn btn-default" id="risk_analysis_upload" type="button" value="Upload">
            {% endif %}
        </div>
    </div>

    <div class="input-group">
        {{ wtf.form_field(form.manual) }}
        <div class="input-group-btn">
            <input class="btn btn-default" type="submit" name="manual_download" formaction="{{ url_for('asset.download') }}" value="Download">
            {% if role == "edit" %}
                <input class="btn btn-default" id="manual_upload" type="button" value="Upload">
            {% endif %}
        </div>
    </div>
    <div class="input-group">
        {{ wtf.form_field(form.safety_information) }}
        <div class="input-group-btn">
            <input class="btn btn-default" type="submit" name="safety_information_download" formaction="{{ url_for('asset.download') }}" value="Download">
            {% if role == "edit" %}
                <input class="btn btn-default" id="safety_information_upload" type="button" value="Upload">
            {% endif %}
        </div>
    </div>

    <div class="input-group">
        {{ wtf.form_field(form.photo) }}
        <div class="input-group-btn">
            <input class="btn btn-default" type="submit" name="photo_download" formaction="{{ url_for('asset.download') }}" value="Download">
            {% if role == "edit" %}
                <input class="btn btn-default" id="photo_upload" type="button" value="Upload">
            {% endif %}
        </div>
    </div>

    <img src="../../static/photo/{{ form.photo.data }}" height="377">
    </br>
    </br>

    <input id='risk_analysis_fileid' type='file' name='risk_analysis_filename' style="display:none" hidden/>
    <input id='photo_fileid' type='file' name='photo_filename' style="display:none" hidden/>
    <input id='manual_fileid' type='file' name='manual_filename' style="display:none" hidden/>
    <input id='safety_information_fileid' type='file' name='safety_information_filename' style="display:none" hidden/>
{% endblock %}
{% block script3 %}
    $(document).ready(function() {
        init_up_download('risk_analysis', 'device');
        init_up_download('manual', 'device');
        init_up_download('photo', 'device');
        init_up_download('safety_information', 'device');
    });
{% endblock %}