{% import "bootstrap/wtf.html" as wtf %}
{% extends "base_single_item.html" %}

{% block content3 %}
    {{ wtf.form_field(form.category) }}
    {{ wtf.form_field(form.brand) }}
    {{ wtf.form_field(form.type) }}
    {{ wtf.form_field(form.power) }}
    {{ wtf.form_field(form.ce) }}
    {{ wtf.form_field(form.control_template) }}
    {{ wtf.form_field(form.risk_analysis) }}

{#    <div class="form-group"><label class="control-label" for="risk_analysis">Risicoanalyse</label>#}
{#        <select class="form-control" id="risk_analysis" name="risk_analysis" disabled></select>#}
{#        <input type="button" onclick="download_file('risk_analysis')" value="Download">#}
{#        <input type="button" onclick="upload_file('risk_analysis')" value="Upload" hidden>#}
{#    </div>#}


    <div class="form-group "><label class="control-label" for="manual">Handleiding</label>
        <input class="form-control" id="manual" readonly="" type="text" value="{{ form.manual.data }}">
        <input type="button" onclick="download_file('manual')" value="Download">
        <input type="button" onclick="upload_file('manual')" value="Upload" hidden>
    </div>

    <div class="form-group "><label class="control-label" for="safety_information">VIK</label>
        <input class="form-control" id="safety_information"  readonly="" type="text" value="{{ form.safety_information.data }}">
        <input type="button" onclick="download_file('safety_information')" value="Download">
        <input type="button" onclick="upload_file('safety_information')" value="Upload" hidden>
    </div>

    <div class="form-group "><label class="control-label" for="photo">Foto</label>
        <input class="form-control" id="photo" readonly="" type="text" value="{{ form.photo.data }}">
        <input type="button" onclick="download_file('photo')" value="Download">
        <input type="button" onclick="upload_file('photo')" value="Upload" hidden>
    </div>

    {% if form.photo.data %}
        <img src="../../static/photo/{{ form.photo.data }}" height="377">
    {%  endif %}
    <br>


{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        var view_only = {{ (role == "view")|tojson }}
        $("#risk_analysis").html({{ form.risk_analysis|tojson }});
    </script>
    <script type="text/javascript"> {% include "device/device.js" %}</script>
{% endblock %}
