<!-- app/templates/base_multiple_items.html -->
{% extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content2 %}
<div class="content-section">
  <div class="center" style="width:99%;">
{% if filter %}
      <form method="post" enctype=multipart/form-data>
      <table class="table-condensed ">
          <tr>
{% if 'date_before' in filter or 'date_after' in filter %}
              <th>Datum</th>
{% endif %}
{% if 'value' in filter %}
              <th>Bedrag</th>
{% endif %}
{% if 'invoice' in filter %}
              <th>Factuur</th>
{% endif %}
{% if 'purchase_id' in filter %}
              <th>Lijn ID</th>
{% endif %}
{% if 'location' in filter %}
              <th>Locatie</th>
{% endif %}
{% if 'category' in filter %}
              <th>Categorie</th>
{% endif %}
{% if 'status' in filter %}
              <th>Status</th>
{% endif %}
{% if 'supplier' in filter %}
              <th>Leverancier</th>
{% endif %}
{% if 'device' in filter %}
              <th>Toestel</th>
{% endif %}
          </tr>
          <tr>
{% if 'date_after' in filter %}
              <td><input id="date_after" class="filter" name="date_after" type="text" size="12"></td>
{% endif %}
{% if 'value' in filter %}
              <td><input id="value_from" class="filter" name="value_from" type="text" size="12"></td>
{% endif %}
{% if 'invoice' in filter %}
              <td rowspan="2"><input id="invoice" class="filter" name="invoice" type="text" size="12"></td>
{% endif %}
{% if 'purchase_id' in filter %}
              <td rowspan="2"><input  id="purchase_id" class="filter" name="purchase_id" type="text" size="6"></td>
{% endif %}
{% if 'location' in filter %}
              <td rowspan="2"><input id="location" class="filter" name="location" type="text" size="12"></td>
{% endif %}
{% if 'category' in filter %}
              <td rowspan="2"  >{{ wtf.form_field(filter_form.category.category) }}</td>
{% endif %}
{% if 'status' in filter %}
              <td rowspan="2">{{ wtf.form_field(filter_form.status.status) }}</td>
{% endif %}
{% if 'supplier' in filter %}
              <td rowspan="2">{{ wtf.form_field(filter_form.supplier.supplier) }}</td>
{% endif %}
{% if 'device' in filter %}
              <td rowspan="2">{{ wtf.form_field(filter_form.device.device) }}</td>
{% endif %}

          </tr>
          <tr>
{% if 'date_before' in filter %}
              <td><input id="date_before" class="filter" name="date_before" type="text" size="12"></td>
{% endif %}
{% if 'value' in filter %}
              <td><input id="value_till" class="filter" name="value_till" type="text" size="12"></td>
{% endif %}
          </tr>
      </table>
      <br>
      <div class="btn-group" role="group" aria-label="...">
          <a class="btn btn-default" id="filter">Filter</a>
          <a class="btn btn-default" id="clear">Wissen</a>
          {% if 'export' in config %}
            <input class="btn btn-default" id="export" type="submit" value="Export"  formaction="{{ url_for(config.export) }}">
          {% endif %}
      </div>

{% endif %}
      </form>
      <form method="post" action="{{ url_for(config.subject + '.add') }}" novalidate>
      {% if not title == "users" or current_user.is_at_least_admin %}
          <hr />
          <div class="btn-group" role="group" aria-label="...">
               <input class="btn btn-default" id="add" name="add" type="submit" value="Voeg {{config.title}} toe">
          </div>
      {%  endif %}
      <hr />
      <table cellspacing="0" class="table table-striped table-bordered " id="datatable" width="100%">
          <thead><tr>
              {% for h in config.template %}
                <th>{{h.name}}</th>
              {% endfor %}
          </thead>
      </table>
      </form>
  </div>
</div>

<div id="floating_menu" class="floating-menu">
    {% for i in config.floating_menu[current_user.get_level] %}
        <a id="{{i['menu_id']}}" onclick="handle_floating_menu('{{i['menu_id']}}')">{{i['menu_text']}}</a>
    {% endfor %}
</div>
{% endblock %}


{% block scripts %}
{{ super() }}
    <script>
        var datatables_columns = [
            {% for h in config.template %}
               {data: "{{h.data}}", name: "{{h.name}}", width: "{{h.width}}"},
            {% endfor %}
        ];
        var default_filter_values = {{ (default_filter_values or []) | tojson }};
        var filter = {{ (filter or []) | tojson}};
    </script>
<script type="text/javascript"> {% include "base_multiple_items.js" %}</script>
{% endblock %}
