{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}

{% block content2 %}
<div class="content-section">
    <div class="center">
        <h1>{{title}}</h1>
        <br/>
        <form id="base-single-action" action="{{ url_for(subject + '.' + role, id=form.id.data)}}" method="post">
            {{ form.csrf_token }}

            {% block content3 %}
            {% endblock %}

                {% if role == "view" %}
                    <a class="btn btn-default" id="edit-button">Pas aan</a>
                {% else %}
                {% if current_user.is_at_least_user_plus %}
                    <input class="btn btn-default" id="submit" name="button" type="submit" value="Bewaar">
                {% endif %}
            {% endif %}
            <a class="btn btn-default" href="javascript:history.back()">Annuleer</a>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    {% if role == "view" %}
    if ({{ (current_user.is_authenticated and current_user.is_at_least_user_plus)|tojson }}) {
        var edit_href ="{{ url_for(subject + '.edit', id=form.id.data) }}";
    } else {
        var edit_href ="{{ url_for('auth.login', redirect_url=url_for(subject + '.edit', id=form.id.data)) }}";
    }
    $("#edit-button").prop("href", edit_href);
    {%  endif %}
</script>
<script type="text/javascript"> {% include "base_single_item.js" %}</script>
{% endblock %}